.mainspan{
        position: absolute;
        border-bottom: none;
        height: 50vh;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        color: rgb(255, 255, 255);
        background-color: rgb(229, 205, 205);
}

h1
{
    background-color: rgb(229, 205, 205);
    text-align: center;
    margin: 0;
    color: rgb(0, 0, 0);
}

/*Background image*/
.homeBgImage{
    position: relative;
    background-image: url(/recources/img/bg.jpg);
    background-repeat: no-repeat;
/*    background-position: center 0;*/
    background-size: cover;
/* background-attachment: fixed;*/
    width: 100%;
/*    height:auto;*/
    height: 100vh;
}
/*END*/
/*Description (flights, hotels*/
.description {
    display: block;
    color: rgb(0, 0, 0);
    position: absolute ;
    top: 5vw;
    left: 4vw;
    width: 40px;
    z-index: 4;
}
.description2 {
    display: block;
    color: rgb(0,0,0);
    position: absolute ;
    top: 5vw;
    left: 20vw;
    width: 40px;
    z-index: 4;
}
.totex{
    display: inline;
    color: black;
    position: absolute ;
    top: -3vw;
    left: 60vw;
    width: 200px;
    z-index: 4;
    text-align: center;

}



/*end*/
/*charts*/

.charticon{
position: absolute ;
    top: 16vw;
    left: 60vw;
height: auto;
width: auto;
}
.diagramicon{
position: absolute ;
    top: 16vw;
    left: 70vw;
height: auto;
width: auto;
}
.diagramicon2{
position: absolute ;
    top: 16vw;
    left: 65vw;
height: auto;
width: auto;
}
/*end*/
